@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,800;0,900;1,500;1,900&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,500;0,700;1,500;1,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

body, html {
    background-color: #17181c;
    margin: 0px;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

.nav-element-link {
    font-size: 1.25rem;
    padding: 0.8rem 1rem;
}

.nav-buttons {
    position: absolute;
    right: 0;
    margin-right: 5rem;
}

.nav-element-link:hover,
.nav-element-link:focus {
    background-color: rgba(18, 18, 18, 1) !important;
    color: rgba(255, 255, 255, 0.75);
}

.navigation {
    background: rgb(28, 28, 28);
    text-align: center;
}

.navigation-elements, .nav-buttons, .logo { display: flex; }

.navigation-elements {
    position: relative;
    justify-content: space-between;
}

.logo p, .nav-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-buttons {
    right: 0;
    gap: 0.05rem;
}

.logo {
    position: relative;
    gap: 1rem;
    flex-grow: 1;
    flex-wrap: nowrap;
    padding: 0.5rem 5rem;
}

.logo p {
    left: 4.5rem;
    font-size: 1.25rem;
    padding: 0.5rem 5rem;
}

.nav-logo {
    width: 64px;
}

.section {
    position: relative;
    padding: 3rem 0px 3rem 0px;
    text-align: center;
    width: 100%;
}

.section-body {
    max-width: 50vw;
    text-align: center;
    margin-left: calc(50% - calc(50vw / 2));
}

.section-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.part {
    margin-bottom: 5rem;
    text-align: center;
    border-bottom: #1e1f23 5px solid;
    padding-bottom: 2rem;
}

.section-body .part:last-child {
    margin-bottom: 0px;
    border-bottom: 0px;
    padding-bottom: 0px;
}

.footer {
    background-color: #17181c;
    position: sticky;
    bottom: 0;
}

.copyright {
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;
    text-align: center;
}

.icon-text {
    margin-left: 30px;
}

#burgermenubutton {
    display: none;
}

@media screen and (max-width: 940px) {
    .nav-buttons,
    .nav-buttons > * {
        opacity: 0;
        max-width: 0px;
        max-height: 0px;
        left: 0;
    }

    .icon {
        display: none;
    }

    .icon-text {
        margin-left: 0px;
    }

    .logo p {
        display: none;
    }

    .logo {
        justify-content: center;
    }

    .nav-logo {
        width: calc(128px / 1.8);
    }
    
    #burgermenubutton {
        display: flex;
        position: absolute;
        right: 30px;
        top: 23px;
    }

    #burgermenubutton > img {
        width: 42px;
    }
    
    .burgermenu.show {
        opacity: 1;
        width: 100%;
    }

    .burgermenu.show .burgermenu-buttons {
        background-color: #17181c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;
        padding: 5rem;
    }

    .burgermenu.show .burgermenu-buttons .burgermenu-element-link {
        font-size: 1.25rem;
        padding: 0.8rem 1rem;
    }

    .burgermenu.show .burgermenu-buttons .burgermenu-element-link:hover,
    .burgermenu.show .burgermenu-buttons .burgermenu-element-link:focus {
        background-color: rgba(18, 18, 18, 1) !important;
        color: rgba(255, 255, 255, 0.75);
    }
}

.burgermenu {
    opacity: 0;
    position: absolute;
    top:5rem;
    left: 0;
    z-index: 9999;
}
